# Python / Flask
.venv
venv/
*.pyc
__pycache__/
/backend/__pycache__

# Node / React
node_modules/
/frontend/node_modules
/frontend/build
/frontend/npm-debug.log*
/frontend/package-lock.json

# Database and API keys (IMPORTANT)
factions_bank_test_second.sql 
*.key
*.secret